@model Musteri
@{
    ViewData["Title"] = "YeniMusteri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Yeni Müşteri</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Yeni Müşteri</h3>
        </div>
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="card">
                <div class="card-body">
                    <form asp-action="YeniMusteri" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="tckimlik">Tc Kimlik Numarası</label>
                                <input type="number" class="form-control" id="inputEmail4" placeholder="TC Kimlik No" asp-for="TcNo">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="adsoyad">Adı Soyadı</label>
                                <input type="text" class="form-control" id="adsoyad" placeholder="Adı Soyadı" asp-for="Adisoyadi">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Uyruk</label>
                                <input type="text" class="form-control" id="uyruk" placeholder="Uyruk" asp-for="Uyruk">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Doğum Tarihi</label>
                                <input type="date" class="form-control" id="inputPassword4" placeholder="Gün/Ay/Yıl" asp-for="DogumTarihi">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputCity">Telefon</label>
                                <input type="number" class="form-control" id="inputCity" placeholder="Telefon" asp-for="Telefon">
                            </div>
                        </div>
                        <div class="form-group">
                        </div>

                        <div class="col-lg-6 p-t-20">
                            <input type="hidden" asp-for="Idno"/>
                        </div>

                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

