
@{
    ViewData["Title"] = "Kolayliklar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <div class="page-title" style="background-image: url(/assets/images/background/page-title-7.jpg);">
        <div class="auto-container">
            <h1>Kolaylıklar</h1>
        </div>
    </div>
    <div class="bredcrumb-wrap">
        <div class="auto-container">
            <ul class="bredcrumb-list">
                <li><a href="index-2.html">Anasayfa</a></li>
                <li>Kolaylıklar</li>
            </ul>
        </div>
    </div>

    <section class="section-padding pb-5">
        <div class="auto-container">
            <div class="section_heading text-center">
                <span class="section_heading_title_small">Kolaylıklar</span>
                <h2 class="section_heading_title_big mb_20">
                    Otelde Yer Alan Cömert <br>
                    Olanakların Keyfini Çıkarın
                </h2>
                <p class="mb_60">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing integer ultrices suspendisse varius etiam est. Est, <br> felis, tempus nec vitae orci sodales Metus, velit nec at diam in sed. Massa dui ipsum ornare sagittis dolor <br> sagittis amet odio est. Sit semper et velit fusce.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="amenities-1-block">
                        <div class="amenities-1-image hvr-img-zoom-1"><img src="~/assets/images/resource/amenities-1.jpg" alt=""></div>
                        <div class="amenities-1-content">
                            <p class="fw_medium theme-color mb_5">KAHVALTI</p>
                            <h4 class="mb_10">Serpme Kahvaltı</h4>
                            <p>Nefis kahvaltılık çeşitlerimiz ile güne harika başlayın.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="amenities-1-block">
                        <div class="amenities-1-image hvr-img-zoom-1"><img src="~/assets/images/resource/amenities-2.jpg" alt=""></div>
                        <div class="amenities-1-content">
                            <p class="fw_medium theme-color mb_5">SU EĞLENCESİ</p>
                            <h4 class="mb_10">Yüzme Havuzu</h4>
                            <p>Temiz ve güzel havuzlarımız ile sıcak havada serinleyin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="amenities-1-block">
                        <div class="amenities-1-image hvr-img-zoom-1"><img src="~/assets/images/resource/amenities-3.jpg" alt=""></div>
                        <div class="amenities-1-content">
                            <p class="fw_medium theme-color mb_5">DAĞ SÜRÜŞÜ</p>
                            <h4 class="mb_10">Bisiklet Deneyimi</h4>
                            <p>Bisikletlerimiz ile yapacağımız sürüşle birlikte güzel bir macera yaşayın.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="amenities-1-block">
                        <div class="amenities-1-image hvr-img-zoom-1"><img src="~/assets/images/resource/amenities-4.jpg" alt=""></div>
                        <div class="amenities-1-content">
                            <p class="fw_medium theme-color mb_5">FITNESS</p>
                            <h4 class="mb_10">Yoga & Fitness</h4>
                            <p>Porofosyonel spor ekipmanları ve deneyimli anternörler eşliğinde sporun tadını çıkarın.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>









