
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>

    <div class="page-wrapper">

        <div class="loader-wrap">
            <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>
            <div class="layer layer-three"><span class="overlay"></span></div>
        </div>

        <div class="page-title" style="background-image: url(/assets/images/background/page-title-8.jpg);">
            <div class="auto-container">
                <h1>Menümüz</h1>
            </div>
        </div>
        <div class="bredcrumb-wrap">
            <div class="auto-container">
                <ul class="bredcrumb-list">
                    <li><a href="index-2.html">Anasayfa</a></li>
                    <li>Menümüz</li>
                </ul>
            </div>
        </div>

        <!-- menu -->
        <section class="section-padding">
            <div class="auto-container">
                <div class="section_heading text-center">
                    <span class="section_heading_title_small">Haftalık Özel Ürünler</span>
                    <h2 class="section_heading_title_big mb_60">Günün Menüsü</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="price-menu-1-block">
                            <div class="p_relative">
                                <p class="theme-color fs_22 p_absolute r_0 t_0">$12</p>
                                <h4>Günün Çorbası</h4>
                                <div class="price-menu-1-divider mt_10 mb_10"></div>
                                <p class="mb_0">Lorem ipsum dolor sit ameted consectur adipiscing elit <br> purus egestas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="price-menu-1-block">
                            <div class="p_relative">
                                <p class="theme-color fs_22 p_absolute r_0 t_0">$12</p>
                                <h4>Kebap</h4>
                                <div class="price-menu-1-divider mt_10 mb_10"></div>
                                <p class="mb_0">Lorem ipsum dolor sit ameted consectur adipiscing elit <br> purus egestas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="price-menu-1-block">
                            <div class="p_relative">
                                <p class="theme-color fs_22 p_absolute r_0 t_0">$12</p>
                                <h4>Salata </h4>
                                <div class="price-menu-1-divider mt_10 mb_10"></div>
                                <p class="mb_0">Lorem ipsum dolor sit ameted consectur adipiscing elit <br> purus egestas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="price-menu-1-block">
                            <div class="p_relative">
                                <p class="theme-color fs_22 p_absolute r_0 t_0">$12</p>
                                <h4>Baklava</h4>
                                <div class="price-menu-1-divider mt_10 mb_10"></div>
                                <p class="mb_0">Lorem ipsum dolor sit ameted consectur adipiscing elit <br> purus egestas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="price-menu-1-block">
                            <div class="p_relative">
                                <p class="theme-color fs_22 p_absolute r_0 t_0">$12</p>
                                <h4>Mezeler</h4>
                                <div class="price-menu-1-divider mt_10 mb_10"></div>
                                <p class="mb_0">Lorem ipsum dolor sit ameted consectur adipiscing elit <br> purus egestas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="price-menu-1-block">
                            <div class="p_relative">
                                <p class="theme-color fs_22 p_absolute r_0 t_0">$12</p>
                                <h4>İçecekler</h4>
                                <div class="price-menu-1-divider mt_10 mb_10"></div>
                                <p class="mb_0">Lorem ipsum dolor sit ameted consectur adipiscing elit <br> purus egestas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Feature three -->
        <section class="section-padding gray-bg">
            <div class="feature-3-shape-1 p_absolute r_30 b_0"><img src="~/assets/images/shape/pattern-5.png" alt=""></div>
            <div class="auto-container">
                <div class="section_heading text-center">
                    <span class="section_heading_title_small">Popüler</span>
                    <h2 class="section_heading_title_big mb_60">
                        Popüler Yemekler
                    </h2>
                </div>
                <div class="row p_relative">
                    <div class="feature-3-shape-2"></div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-3-block mb_30 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                            <div class="feature-3-image hvr-img-zoom-1"><img src="~/assets/images/resource/feature-image-12.jpg" alt=""></div>
                            <div class="feature-3-offer w_80 h_80 theme-bg p_absolute r_30 t_30 fs_18 text-center text-light pt_20 b_radius_50 lh_20"><span class="fs_22 fw_medium">15%</span><br> OFF</div>
                            <div class="feature-3-lower-content">
                                <h4 class="feature-3-title mb_5">Karışık Izgara</h4>
                                <p class="fs_15 mb_5"><span class="theme-color mr_10">$55.0</span> $65.0</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-3-block mb_30 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                            <div class="feature-3-image hvr-img-zoom-1"><img src="~/assets/images/resource/feature-image-13.jpg" alt=""></div>
                            <div class="feature-3-offer w_80 h_80 theme-bg p_absolute r_30 t_30 fs_18 text-center text-light pt_20 b_radius_50 lh_20"><span class="fs_22 fw_medium">15%</span><br> OFF</div>
                            <div class="feature-3-lower-content">
                                <h4 class="feature-3-title mb_5">Taze Sıkılmış Meyve Suyu</h4>
                                <p class="fs_15 mb_5"><span class="theme-color mr_10">$55.0</span> $65.0</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-3-block mb_30 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                            <div class="feature-3-image hvr-img-zoom-1"><img src="~/assets/images/resource/feature-image-14.jpg" alt=""></div>
                            <div class="feature-3-offer w_80 h_80 theme-bg p_absolute r_30 t_30 fs_18 text-center text-light pt_20 b_radius_50 lh_20"><span class="fs_22 fw_medium">15%</span><br> OFF</div>
                            <div class="feature-3-lower-content">
                                <h4 class="feature-3-title mb_5">Balık</h4>
                                <p class="fs_15 mb_5"><span class="theme-color mr_10">$55.0</span> $65.0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    </div>
</body>
</html>













