
@{
    ViewData["Title"] = "Resimler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <div class="page-wrapper">

        <div class="loader-wrap">
            <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>
            <div class="layer layer-three"><span class="overlay"></span></div>
        </div>

        <div class="page-title" style="background-image: url(/assets/images/background/page-title-9.jpg);">
            <div class="auto-container">
                <h1>Galeri</h1>
            </div>
        </div>
        <div class="bredcrumb-wrap">
            <div class="auto-container">
                <ul class="bredcrumb-list">
                    <li><a href="index-2.html">Anasayfa</a></li>
                    <li>Resimler</li>
                </ul>
            </div>
        </div>

        <!--gallery-->
        <section class="section-padding">
            <div class="auto-container">

                <div class="filters">
                    <ul class="filter-tabs filter-btns d-flex justify-content-center">
                        <li class="filter active" data-role="button" data-filter=".all">Tümü</li>
                        <li class="filter" data-role="button" data-filter=".cat-1">Nursing</li>
                        <li class="filter" data-role="button" data-filter=".cat-2">Medical </li>
                        <li class="filter" data-role="button" data-filter=".cat-3">Senior</li>
                    </ul>
                </div>

                <!--Sortable Galery-->
                <div class="sortable-masonry">

                    <div class="items-container row">
                        <!-- Project Block -->
                        <div class="col-lg-4 col-md-6 gallery-block-1 masonry-item all cat-1">
                            <div class="gallery-block-1-inner-box">
                                <div class="gallery-block-1-image">
                                    <img src="~/assets/images/gallery/gallery-1.jpg" alt="">
                                </div>
                                <div class="gallery-block-1-overlay">
                                    <div class="gallery-block-1-lower-content">
                                        <div class="gallery-block-1-link-btn">
                                            <a href="~/assets/images/gallery/gallery-1.jpg" class="lightbox-image" data-fancybox="gallery"><span class="icon-24"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="col-lg-4 col-md-6 gallery-block-1 masonry-item all cat-3">
                            <div class="gallery-block-1-inner-box">
                                <div class="gallery-block-10image">
                                    <img src="~/assets/images/gallery/gallery-2.jpg" alt="">
                                </div>
                                <div class="gallery-block-1-overlay">
                                    <div class="gallery-block-1-lower-content">
                                        <div class="gallery-block-1-link-btn">
                                            <a href="~/assets/images/gallery/gallery-2.jpg" class="lightbox-image" data-fancybox="gallery"><span class="icon-24"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="col-lg-4 col-md-6 gallery-block-1 masonry-item all cat-1 cat-2">
                            <div class="gallery-block-1-inner-box">
                                <div class="gallery-block-10image">
                                    <img src="~/assets/images/gallery/gallery-3.jpg" alt="">
                                </div>
                                <div class="gallery-block-1-overlay">
                                    <div class="gallery-block-1-lower-content">
                                        <div class="gallery-block-1-link-btn">
                                            <a href="~/assets/images/gallery/gallery-3.jpg" class="lightbox-image" data-fancybox="gallery"><span class="icon-24"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="col-lg-4 col-md-6 gallery-block-1 masonry-item all cat-2 cat-3">
                            <div class="gallery-block-1-inner-box">
                                <div class="gallery-block-10image">
                                    <img src="~/assets/images/gallery/gallery-4.jpg" alt="">
                                </div>
                                <div class="gallery-block-1-overlay">
                                    <div class="gallery-block-1-lower-content">
                                        <div class="gallery-block-1-link-btn">
                                            <a href="~/assets/images/gallery/gallery-4.jpg" class="lightbox-image" data-fancybox="gallery"><span class="icon-24"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="col-lg-4 col-md-6 gallery-block-1 masonry-item all cat-3 cat-1">
                            <div class="gallery-block-1-inner-box">
                                <div class="gallery-block-10image">
                                    <img src="~/assets/images/gallery/gallery-5.jpg" alt="">
                                </div>
                                <div class="gallery-block-1-overlay">
                                    <div class="gallery-block-1-lower-content">
                                        <div class="gallery-block-1-link-btn">
                                            <a href="~/assets/images/gallery/gallery-5.jpg" class="lightbox-image" data-fancybox="gallery"><span class="icon-24"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="col-lg-4 col-md-6 gallery-block-1 masonry-item all cat-1">
                            <div class="gallery-block-1-inner-box">
                                <div class="gallery-block-10image">
                                    <img src="~/assets/images/gallery/gallery-6.jpg" alt="">
                                </div>
                                <div class="gallery-block-1-overlay">
                                    <div class="gallery-block-1-lower-content">
                                        <div class="gallery-block-1-link-btn">
                                            <a href="~/assets/images/gallery/gallery-6.jpg" class="lightbox-image" data-fancybox="gallery"><span class="icon-24"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="col-lg-4 col-md-6 gallery-block-1 masonry-item all cat-2 cat-3">
                            <div class="gallery-block-1-inner-box">
                                <div class="gallery-block-10image">
                                    <img src="~/assets/images/gallery/gallery-7.jpg" alt="">
                                </div>
                                <div class="gallery-block-1-overlay">
                                    <div class="gallery-block-1-lower-content">
                                        <div class="gallery-block-1-link-btn">
                                            <a href="~/assets/images/gallery/gallery-7.jpg" class="lightbox-image" data-fancybox="gallery"><span class="icon-24"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="col-lg-4 col-md-6 gallery-block-1 masonry-item all cat-3 cat-1">
                            <div class="gallery-block-1-inner-box">
                                <div class="gallery-block-10image">
                                    <img src="~/assets/images/gallery/gallery-8.jpg" alt="">
                                </div>
                                <div class="gallery-block-1-overlay">
                                    <div class="gallery-block-1-lower-content">
                                        <div class="gallery-block-1-link-btn">
                                            <a href="~/assets/images/gallery/gallery-8.jpg" class="lightbox-image" data-fancybox="gallery"><span class="icon-24"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="col-lg-4 col-md-6 gallery-block-1 masonry-item all cat-1">
                            <div class="gallery-block-1-inner-box">
                                <div class="gallery-block-10image">
                                    <img src="~/assets/images/gallery/gallery-9.jpg" alt="">
                                </div>
                                <div class="gallery-block-1-overlay">
                                    <div class="gallery-block-1-lower-content">
                                        <div class="gallery-block-1-link-btn">
                                            <a href="~/assets/images/gallery/gallery-9.jpg" class="lightbox-image" data-fancybox="gallery"><span class="icon-24"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>













