<footer class="main-footer">
    <div class="footer-1-middle">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="contact-widget-1 mb_30">
                        <div class="footer-widget-title">
                            <h4>
                                Bize Ulaşın
                            </h4>
                        </div>
                        <ul class="contact-widget-1-list">
                            <li><span>Adres:</span> Azmimilli Mah. Serhat Sk. No:1/1 81020 Merkez/Düzce</li>
                            <li><span>Email:</span><a href="info@openyazilim.com">info@openyazilim.com</a></li>
                            <li><span>Telefon:</span><a href="(850) 800 07 60">(850) 800 07 60</a></li>
                        </ul>
                        <ul class="footer-social-icon d-flex align-items-center">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="link-widget-1 mb_30">
                        <div class="footer-widget-title"><h4>Linkler</h4></div>
                        <ul class="link-widget-1-list">
                            <li><a href="">Hakkımızda</a></li>
                            <li><a href="">Servisler</a></li>
                            <li><a href="">Durum</a></li>
                            <li><a href="">Bize Ulaşın</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="link-widget-1 mb_30">
                        <div class="footer-widget-title"><h4>Çalışma Saatleri</h4></div>

                        <p>Pzt - Cu: 09:00 - 18:00 <br> Cmt - Pzr: 08:00 - 16:00</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-widget-1 mb_30">
                        <div class="footer-widget-title"><h4>Haber Bülteni</h4></div>
                        <div class="about-widget-1-text">
                            <div class="footer-newsletter">
                                <form>
                                    <input type="email" placeholder="Email adresi">
                                    <button class="btn-1">Abone Olun <span></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="footer-bottom-row">
                <div class="footer-bottom-text"> @DateTime.Now.Year by <a href="https://openyazilim.com/">Open Yazılım</a> Tüm hakları saklıdır</div>
            </div>
        </div>
    </div>
</footer>