@model HotelProject.Models.Odalar
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "YeniOda";

    ViewBag.Menu = "YeniOda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Yeni Oda</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Yeni Oda kaydını burdan yapabilirsiniz.</h3>
        </div>
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="card">
                <div class="card-body">
                    <form asp-action="YeniOda" method="post"> 
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label type="text" id="txtRoomName">Oda No</label>
                                <input class="form-control" placeholder="Oda Numarası" asp-for="OdaNo">
                            </div>
                            <div class="form-group col-md-6">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                                    <label type="text" id="txtRoomName">Oda No</label>
                                    @if (ViewBag.odaTip != null)
                                    {
                        @Html.DropDownListFor(x => x.OdaTip, (List<SelectListItem>)ViewBag.odaTip, new { @class = "form-control", tabindex = "2" })}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label type="text" id="txtRoomName">Oda Adı</label>
                                <input class="form-control" placeholder="Oda Ado" asp-for="OdaAdi">
                            </div>
                            <div class="form-group col-md-6">
                                <label type="text" id="txtRoomName">Cephe</label>
                                <input class="form-control" placeholder="Oda Numarası" asp-for="Cephe">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label type="text" id="txtRoomName">Yatak Sayısı</label>
                                <input class="form-control" placeholder="Yatak Sayo" asp-for="YatakSayisi">
                            </div>
                        </div>
                        <div class="form-group">
                        </div>

                        <div class="col-lg-6 p-t-20">
                            <input type="hidden" asp-for="Idno" />
                        </div>

                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>



