
@{
    ViewData["Title"] = "Oda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>
    <div class="page-title" style="background-image: url(/assets/images/background/page-title-5.jpg);">
        <div class="auto-container">
            <h1>Odalarımız</h1>
        </div>
    </div>
    <div class="bredcrumb-wrap">
        <div class="auto-container">
            <ul class="bredcrumb-list">
                <li><a href="index-2.html">Anasayfa</a></li>
                <li>Odalarımız</li>
            </ul>
        </div>
    </div>

    <!-- Room -->
    <section class="section-padding">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="room-1-block wow fadeInUp" data-wow-delay=".2s" data-wow-duration=".8s">
                        <div class="room-1-image hvr-img-zoom-1">
                            <img src="~/assets/images/resource/room-1.jpg" alt="">
                        </div>
                        <div class="room-1-content">
                            <p class="room-1-meta-info">Geceliği <span class="theme-color">100₺</span>'den başlayan fiyatlarla</p>
                            <div class="room-1-rating">
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-7"></i>
                            </div>
                            <h4 class="room-1-title mb_20"><a href="room-details.html">Single room</a></h4>
                            <p class="room-1-text mb_30">
                                Tek kişilik odalardır. İçerisinde tek kişilik ya da bir büyük çift kişilik yatak bulunur.
                            </p>
                            <div class="link-btn"><a href="~/Home/Index" class="btn-1 btn-alt">Rezervasyon Yap <span></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-1-block wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.2s">
                        <div class="room-1-image hvr-img-zoom-1">
                            <img src="~/assets/images/resource/room-2.jpg" alt="">
                        </div>
                        <div class="room-1-content">
                            <p class="room-1-meta-info">Geceliği <span class="theme-color">200₺</span>'den başlayan fiyatlarla</p>
                            <div class="room-1-rating">
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-7"></i>
                            </div>
                            <h4 class="room-1-title mb_20"><a href="room-details.html">Double Room</a></h4>
                            <p class="room-1-text mb_30">İçerisinde iki ayrı tek kişilik veya bir büyük çift kişilik (french bed) yatak bulunur.</p>
                            <div class="link-btn"><a href="room-details.html" class="btn-1 btn-alt">Rezervasyon Yap <span></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-1-block wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                        <div class="room-1-image hvr-img-zoom-1">
                            <img src="~/assets/images/resource/room-3.jpg" alt="">
                        </div>
                        <div class="room-1-content">
                            <p class="room-1-meta-info">Geceliği <span class="theme-color">400₺</span>'den başlayan fiyatlarla</p>
                            <div class="room-1-rating">
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-7"></i>
                            </div>
                            <h4 class="room-1-title mb_20"><a href="room-details.html">Triple Room</a></h4>
                            <p class="room-1-text mb_30">Üç kişilik odalardır. Üç tek kişilik veya bir çift ve iki tek kişilik yatak ile konumlandırılabilir.</p>
                            <div class="link-btn"><a href="room-details.html" class="btn-1 btn-alt">Rezervasyon Yap <span></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-1-block wow fadeInUp" data-wow-delay=".2s" data-wow-duration=".8s">
                        <div class="room-1-image hvr-img-zoom-1">
                            <img src="~/assets/images/resource/room-11.jpg" alt="">
                        </div>
                        <div class="room-1-content">
                            <p class="room-1-meta-info">Geceliği <span class="theme-color">800₺</span>'den başlayan fiyatlarla</p>
                            <div class="room-1-rating">
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-7"></i>
                            </div>
                            <h4 class="room-1-title mb_20"><a href="room-details.html">Quad Room</a></h4>
                            <p class="room-1-text mb_30">Dört kişinin konaklayabileceği odalardır. Bir çift kişilik ve iki tek kişilik yatak bulunur.</p>
                            <div class="link-btn"><a href="room-details.html" class="btn-1 btn-alt">Rezervasyon Yap <span></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-1-block wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.2s">
                        <div class="room-1-image hvr-img-zoom-1">
                            <img src="~/assets/images/resource/room-12.jpg" alt="">
                        </div>
                        <div class="room-1-content">
                            <p class="room-1-meta-info">Geceliği <span class="theme-color">1000₺</span>'den başlayan fiyatlarla</p>
                            <div class="room-1-rating">
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-7"></i>
                            </div>
                            <h4 class="room-1-title mb_20"><a href="room-details.html">Suite Room</a></h4>
                            <p class="room-1-text mb_30">Bir yatak odası ve bir oturma odasından meydana gelir.</p>
                            <div class="link-btn"><a href="room-details.html" class="btn-1 btn-alt">Rezervasyon Yap <span></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-1-block wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                        <div class="room-1-image hvr-img-zoom-1">
                            <img src="~/assets/images/resource/room-13.jpg" alt="">
                        </div>
                        <div class="room-1-content">
                            <p class="room-1-meta-info">Geceliği <span class="theme-color">2000₺</span>'den başlayan fiyatlarla</p>
                            <div class="room-1-rating">
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                                <i class="icon-6"></i>
                            </div>
                            <h4 class="room-1-title mb_20"><a href="room-details.html">King Suite</a></h4>
                            <p class="room-1-text mb_30">
                                Oturma odası, mutfak ve banyodan oluşan oldukça geniş lüks odalardır.
                            </p>
                            <div class="link-btn"><a href="room-details.html" class="btn-1 btn-alt">Rezervasyon Yap <span></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
























