
    <div class="page-wrapper">

        <div class="loader-wrap">
            <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>
            <div class="layer layer-three"><span class="overlay"></span></div>
        </div>
        <div class="page-title" style="background-image: url(/assets/images/background/page-title-5.jpg);">
            <div class="auto-container">
                <h1>Oda Detayları</h1>
            </div>
        </div>
        <div class="bredcrumb-wrap">
            <div class="auto-container">
                <ul class="bredcrumb-list">
                    <li><a href="index-2.html">Anasayfa</a></li>
                    <li>Oda Detayları</li>
                </ul>
            </div>
        </div>

        <section class="section-padding">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-8 pe-lg-35">
                        <div class="single-post">
                            <span class="section_heading_title_small">Başlayan Fiyatlarla $55.00</span>
                            <h2 class="mb_40">Suite Room</h2>
                            <p class="mb_20">
                                Herkes çıktığı seyahatlerde kendini evinde gibi konforlu ve rahat hissetmek ister.
                                Bunun için çok önceden araştırmalar yapılarak otel rezervasyonları yapılmaya oluşturulur.
                                Otel odalarının fiyatları sunulan hizmete göre önemli ölçüde değişkenlik gösterir.
                                Lüksten ve konfordan ödün vermeden konaklama isteyen misafirler için genellikle suit odalar tavsiye edilir.
                                Bununla birlikte detaylara takılmadan otelde rahatça istirahat etmek isteyenlere de standart odalar önerilir. Suit odalar standart odalara göre daha lüks ve konforlu olduğu için fiyat aralığı takribi 700 TL ile 2000 TL arasında değişmektedir. Standart odalar ise suit odalara göre daha uygun fiyatlı olup takribi ücreti 300 TL ve 800 TL arasındadır… Otel odası seçeneklerinden birini değerlendirmeden önce yazının devamını okuyarak kendiniz için en doğru oteli seçebilirsiniz…
                            </p>  
                            <div class="mb_60"><img src="~/assets/images/resource/room-17.jpg" alt=""></div>
                            <h3 class="fs_40 mb_30">Hizmetler</h3>
                            <p class="mb_50">Otelimizde ücretsiz olarak sunulan hizmetler.</p>

                            <div class="row mb_30">
                                <div class="col-md-4 col-sm-6 mb_45">
                                    <div class="d-flex align-items-center">
                                        <i class="icon-8 theme-color fs_40 w_55 mr_25"></i>
                                        <p class="fw_medium mb_0">Hızlı İnternet</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mb_45">
                                    <div class="d-flex align-items-center">
                                        <i class="icon-9 theme-color fs_40 w_55 mr_25"></i>
                                        <p class="fw_medium mb_0">Kahve</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mb_45">
                                    <div class="d-flex align-items-center">
                                        <i class="icon-10 theme-color fs_40 w_55 mr_25"></i>
                                        <p class="fw_medium mb_0">Banyo</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mb_45">
                                    <div class="d-flex align-items-center">
                                        <i class="icon-11 theme-color fs_40 w_55 mr_25"></i>
                                        <p class="fw_medium mb_0">Park Alanı​</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mb_45">
                                    <div class="d-flex align-items-center">
                                        <i class="icon-12 theme-color fs_40 w_55 mr_25"></i>
                                        <p class="fw_medium mb_0">Yüzme Havuzu</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mb_45">
                                    <div class="d-flex align-items-center">
                                        <i class="icon-14 theme-color fs_40 w_55 mr_25"></i>
                                        <p class="fw_medium mb_0">Kahvaltı</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mb_45">
                                    <div class="d-flex align-items-center">
                                        <i class="icon-15 theme-color fs_40 w_55 mr_25"></i>
                                        <p class="fw_medium mb_0">Spa & Sağlık</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mb_45">
                                    <div class="d-flex align-items-center">
                                        <i class="icon-16 theme-color fs_40 w_55 mr_25"></i>
                                        <p class="fw_medium mb_0">Toplantı Odası</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mb_45">
                                    <div class="d-flex align-items-center">
                                        <i class="icon-17 theme-color fs_40 w_55 mr_25"></i>
                                        <p class="fw_medium mb_0">İçecekler</p>
                                    </div>
                                </div>
                            </div>
                            <h3 class="fs_40 mb_30">Otel Kuralları</h3>
                            <p class="mb_30">Otelizin giriş çıkış saatleri aşağıdaki gibidir. Sigara ve evcil hayvan yasaktır.</p>
                            <ul class="list-2 mb_70">
                                <li><i class="icon-23"></i>Giriş: 3:00 PM - 9:00 PM</li>
                                <li><i class="icon-23"></i>Çıkış: 10:30 AM</li>
                                <li><i class="icon-23"></i>Hayvan Yasak</li>
                                <li><i class="icon-23"></i>Sigara Yasak</li>
                            </ul>
                            <h3 class="fs_40 mb_30">İptal İşlemi</h3>
                            <p class="mb_70">Otel rezervasyon iptal işlemlerini dilediğiniz vakitte bizi arayarak yapabilirsiniz.</p>
                            <h3 class="fs_40 mb_30">Adresimiz</h3>
                            <p class="mb_30">Otelimiz konum olarak çok güzel bir konumdadır.</p>
                            <div class="map">
                                <iframe src="https://www.google.com/maps/d/embed?mid=1usD2CXJzb0WekNoHNxX329f903AAZ88&ehbc=2E312F" width="600" height="450" frameborder="0" style="border:0; width: 100%" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget mb_40 gray-bg p_40">
                            <h4 class="mb_20">Your Reservation</h4>
                            <div class="booking-form-3">
                                <form class="hotel-booking-form-1-form d-block">
                                    <div class="form-group">
                                        <p class="hotel-booking-form-1-label">Check - in:</p>
                                        <input placeholder="17 Sep, 2022" class="" type="text" name="form-name" id="nd_booking_archive_form_date_range_from" value="" />
                                    </div>
                                    <div class="form-group">
                                        <p class="hotel-booking-form-1-label">Check - Out:</p>
                                        <input placeholder="21 Sep, 2022" class="" type="text" name="form-name" id="nd_booking_archive_form_date_range_to" value="" />
                                    </div>
                                    <div class="form-group">
                                        <p class="hotel-booking-form-1-label">Rooms:</p>
                                        <select>
                                            <option data-display="1 Room">1 Room</option>
                                            <option value="2 Rooms">2 Rooms</option>
                                            <option value="3 Rooms">3 Rooms</option>
                                            <option value="4 Rooms">4 Rooms</option>
                                            <option value="5 Rooms">5 Rooms</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <p class="hotel-booking-form-1-label">Adults:</p>
                                        <select>
                                            <option data-display="2 Adults">2 Adults</option>
                                            <option value="1 Adult">1 Adult</option>
                                            <option value="3 Adults">3 Adults</option>
                                            <option value="4 Adults">4 Adults</option>
                                            <option value="5 Adults">5 Adults</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb_50">
                                        <p class="hotel-booking-form-1-label">Child:</p>
                                        <select>
                                            <option data-display="1 Children">1 Children</option>
                                            <option value="0 Children">0 Children</option>
                                            <option value="2 Childrens">2 Childrens</option>
                                            <option value="3 Childrens">3 Childrens</option>
                                            <option value="4 Childrens">4 Childrens</option>
                                            <option value="5 Childrens">5 Childrens</option>
                                        </select>
                                    </div>
                                    <div class="form-group mt-5">
                                        <h4 class="mb_20">Extra Services</h4>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p><input type="checkbox" name="vehicle1" value="Bike"> Cleaning Fee</p>
                                            <p>$9.0</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p><input type="checkbox" name="vehicle1" value="Bike"> Free</p>
                                            <p>$9.0</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p><input type="checkbox" name="vehicle1" value="Bike"> Parking</p>
                                            <p>$7.0</p>
                                        </div>
                                    </div>
                                    <div class="form-group mt-4">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h4 class="mb_20">Your Price</h4>
                                            <p>$9.0</p>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn-1">Book Now<span></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Room -->
    </div>
</html>











