
@{
    ViewData["Title"] = "Ekip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>

    <div class="page-wrapper">

        <div class="loader-wrap">
            <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>
            <div class="layer layer-three"><span class="overlay"></span></div>
        </div>


        <div class="page-title" style="background-image: url(/assets/images/background/page-title-2.jpg);">
            <div class="auto-container">
                <h1>Şeflerimiz</h1>
            </div>
        </div>
        <div class="bredcrumb-wrap">
            <div class="auto-container">
                <ul class="bredcrumb-list">
                    <li><a href="index-2.html">Ana Sayfa</a></li>
                    <li>Şeflerimiz</li>
                </ul>
            </div>
        </div>

        <!-- Team -->
        <section class="section-padding">
            <div class="auto-container">
                <div class="section_heading text-center mb_70">
                    <span class="section_heading_title_small">Dedicated Team</span>
                    <h2 class="section_heading_title_big">Profosyonel <br> Otel Çalışanlarınımz</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-1-block">
                            <div class="team-1-image">
                                <div class="team-1-image-wrap"><img src="~/assets/images/resource/team-1.jpg" alt=""></div>
                                <div class="team-1-share-icon-area">
                                    <ul class="team-1-social-icon">
                                        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h4 class="team-1-title">Wade Warren</h4>
                            <p class="team-1-designaiton">Main Chef</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-1-block">
                            <div class="team-1-image">
                                <div class="team-1-image-wrap"><img src="~/assets/images/resource/team-2.jpg" alt=""></div>
                                <div class="team-1-share-icon-area">
                                    <ul class="team-1-social-icon">
                                        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h4 class="team-1-title">Guy Hawkins</h4>
                            <p class="team-1-designaiton">Sr. Chef</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-1-block">
                            <div class="team-1-image">
                                <div class="team-1-image-wrap"><img src="~/assets/images/resource/team-3.jpg" alt=""></div>
                                <div class="team-1-share-icon-area">
                                    <ul class="team-1-social-icon">
                                        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h4 class="team-1-title">Bessie Cooper</h4>
                            <p class="team-1-designaiton">Jr. Chef</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-1-block">
                            <div class="team-1-image">
                                <div class="team-1-image-wrap"><img src="~/assets/images/resource/team-4.jpg" alt=""></div>
                                <div class="team-1-share-icon-area">
                                    <ul class="team-1-social-icon">
                                        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h4 class="team-1-title">Esther Howard</h4>
                            <p class="team-1-designaiton">Sr. Chef</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-1-block">
                            <div class="team-1-image">
                                <div class="team-1-image-wrap"><img src="~/assets/images/resource/team-5.jpg" alt=""></div>
                                <div class="team-1-share-icon-area">
                                    <ul class="team-1-social-icon">
                                        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h4 class="team-1-title">Leslie Alexander</h4>
                            <p class="team-1-designaiton">Jr. Chef</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-1-block">
                            <div class="team-1-image">
                                <div class=""><img src="~/assets/images/resource/team-6.jpg" alt=""></div>
                                <div class="team-1-share-icon-area">
                                </div>
                            </div>
                            <h4 class="team-1-title">Robert Fox</h4>
                            <p class="team-1-designaiton">Jr. Chef</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>

</html>



















