
@{
    ViewData["Title"] = "Referans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="page-wrapper">

        <div class="loader-wrap">
            <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>
            <div class="layer layer-three"><span class="overlay"></span></div>
        </div>

        

        

        <div class="page-title" style="background-image: url(/assets/images/background/page-title-3.jpg);">
            <div class="auto-container">
                <h1>Referanslarımız</h1>
            </div>
        </div>
        <div class="bredcrumb-wrap">
            <div class="auto-container">
                <ul class="bredcrumb-list">
                    <li><a href="index-2.html">Anasayfa</a></li>
                    <li>Referanslarımız</li>
                </ul>
            </div>
        </div>

        <!-- Testimonials -->
        <section class="section-padding testimonial-page">
            <div class="auto-container">
                <div class="section_heading text-center mb_50">
                    <span class="section_heading_title_small">Referanslarımız</span>
                    <h2 class="section_heading_title_big">Hakkımızda  <br> Ne Söylediler?</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial-1-block">
                            <div class="testimonial-1-quote-icon"><i class="icon-18"></i></div>
                            <p class="testimonial-1-review-desc">
                                “Mattis cras magna morb nula punar
                                aenean aliquet in. Risus a arcu eget
                                mi hendrerit gravida elit scelerisque
                                tempor Pharetra fringilla tellus vivera
                                eget sapien viverra faucibus facilisis
                                sed facilisi dictum.”
                            </p>
                            <h4 class="testimonial-1-name">Jacob Jones</h4>
                            <p class="testimonial-1-designation">Manager</p>
                            <div class="testimonial-1-author-thumb">
                                <img src="~/assets/images/resource/testimonial-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial-1-block">
                            <div class="testimonial-1-quote-icon"><i class="icon-18"></i></div>
                            <p class="testimonial-1-review-desc">
                                “Mattis cras magna morb nula punar
                                aenean aliquet in. Risus a arcu eget
                                mi hendrerit gravida elit scelerisque
                                tempor Pharetra fringilla tellus vivera
                                eget sapien viverra faucibus facilisis
                                sed facilisi dictum.”
                            </p>
                            <h4 class="testimonial-1-name">Ralph Edwards</h4>
                            <p class="testimonial-1-designation">Manager</p>
                            <div class="testimonial-1-author-thumb">
                                <img src="~/assets/images/resource/testimonial-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial-1-block">
                            <div class="testimonial-1-quote-icon"><i class="icon-18"></i></div>
                            <p class="testimonial-1-review-desc">
                                “Mattis cras magna morb nula punar
                                aenean aliquet in. Risus a arcu eget
                                mi hendrerit gravida elit scelerisque
                                tempor Pharetra fringilla tellus vivera
                                eget sapien viverra faucibus facilisis
                                sed facilisi dictum.”
                            </p>
                            <h4 class="testimonial-1-name">Philip Joseph</h4>
                            <p class="testimonial-1-designation">Manager</p>
                            <div class="testimonial-1-author-thumb">
                                <img src="~/assets/images/resource/testimonial-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial-1-block">
                            <div class="testimonial-1-quote-icon"><i class="icon-18"></i></div>
                            <p class="testimonial-1-review-desc">
                                “Mattis cras magna morb nula punar
                                aenean aliquet in. Risus a arcu eget
                                mi hendrerit gravida elit scelerisque
                                tempor Pharetra fringilla tellus vivera
                                eget sapien viverra faucibus facilisis
                                sed facilisi dictum.”
                            </p>
                            <h4 class="testimonial-1-name">Jacob Jones</h4>
                            <p class="testimonial-1-designation">Manager</p>
                            <div class="testimonial-1-author-thumb">
                                <img src="~/assets/images/resource/testimonial-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial-1-block">
                            <div class="testimonial-1-quote-icon"><i class="icon-18"></i></div>
                            <p class="testimonial-1-review-desc">
                                “Mattis cras magna morb nula punar
                                aenean aliquet in. Risus a arcu eget
                                mi hendrerit gravida elit scelerisque
                                tempor Pharetra fringilla tellus vivera
                                eget sapien viverra faucibus facilisis
                                sed facilisi dictum.”
                            </p>
                            <h4 class="testimonial-1-name">Ralph Edwards</h4>
                            <p class="testimonial-1-designation">Manager</p>
                            <div class="testimonial-1-author-thumb">
                                <img src="~/assets/images/resource/testimonial-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial-1-block">
                            <div class="testimonial-1-quote-icon"><i class="icon-18"></i></div>
                            <p class="testimonial-1-review-desc">
                                “Mattis cras magna morb nula punar
                                aenean aliquet in. Risus a arcu eget
                                mi hendrerit gravida elit scelerisque
                                tempor Pharetra fringilla tellus vivera
                                eget sapien viverra faucibus facilisis
                                sed facilisi dictum.”
                            </p>
                            <h4 class="testimonial-1-name">Philip Joseph</h4>
                            <p class="testimonial-1-designation">Manager</p>
                            <div class="testimonial-1-author-thumb">
                                <img src="~/assets/images/resource/testimonial-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

    </div>


</body>











